.barraDeNavegacion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  @include adaptablePagina {
    justify-content: space-between;
  }
  h1 {
    padding: 1rem;
    font-size: 2rem;
    @include adaptablePaginaTablet {
      padding-left: 3rem;
      font-size: 3.5rem;
    }
    a {
      text-decoration: none;
      color: white;
    }
    a:hover {
      color: rgb(223, 204, 141);
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-right: 2rem;
    li {
      font-size: 1rem;
      padding: 1.15rem;
      @include adaptablePaginaTablet {
        padding: 2.5rem;
        font-size: 1.25rem;
      }
      @include adaptablePagina {
        font-size: 1.75rem;
      }
      a {
        padding: 0rem;
        text-decoration: none;
        color: white;
      }
      a:hover {
        color: rgb(223, 204, 141);
      }
    }
  }
}
